{% extends 'base.html.twig' %}

{% block listArticle %}
    <div >
        <h1 class="text-center">Ajouter un article</h1>
        {{ form_start(form) }}
        <div class="flex flex-col items-center h-screen justify-center ">
            <div class="">
                {{ form_row(form.nom,{
                    'attr':{
                        'class':'input input-bordered ml-5'
                    }
                }) }}
            </div>
            <div>
                {{ form_row(form.description,{
                    'attr':{
                        'class':'input input-bordered ml-5'
                    }
                }) }}
            </div>
            <div>
                {{ form_row(form.images,{
                    'attr':{
                        'class':'input input-bordered ml-5'
                    }
                }) }}
            </div>
            <button type="Submit" class="btn bg-green-500">Ajouter</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}