{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}
{% block title %}foot stat{% endblock %}


{% block body %}
    {{ parent() }}

{% for messages in app.flashes('success') %}
    <div class="bg-success">
        Utilisateur a été inserer
    </div>

    {% endfor %}
<div class="border flex flex-col items-center ">
    <h1 class="text-center "> {{ titre }}! ⚽</h1>
    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
            <tr>
                <th>Date</th>
                <th>Match</th>
                <th>Lieu</th>
                <th>Meteo</th>
            </tr>
            </thead>
            <tbody>
            <!-- row 1 -->

                {% for match in matches %}


                <tr class="bg-base-200">

                    <td>


                             {{ match.utcDate|date('d/m/y H:i:s') }}

                    </td>

                    <td>

                            {{ match.homeTeam.name }}-{{ match.awayTeam.name }}

                    </td>
                    <td></td>

                </tr>

                    {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}
