{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}
{% block title %}foot stat{% endblock %}


{% block body %}
    {{ parent() }}


<div class="border grid  grid-cols-4 gap-4 ">
    <h1 class="text-center "> {{ titre }}! ⚽</h1>
    
    {% for list in matches %}
       
         <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-5">
    <div class="p-8 flex">
        <div class="pr-4">

            {% if list.utcDate|date('d/m/Y') <= currentDate %}
            <p class="text-4xl  font-bold">{{list.utcDate|date('d F Y')}}</p>
            {% endif %}
        </div>
        <div>
        <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{list.homeTeam.name}}-{{list.awayTeam.name}}</div>
        <p class="mt-2 text-gray-500">Event Description</p>
        <p class="mt-2 text-gray-500">Event Details...</p>
        </div>
    </div>
    </div>
  
    {% endfor %}
      
     
    
   

   
   
</div>
{% endblock %}
