{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}
{% block title %}foot stat{% endblock %}


{% block body %}
    {{ parent() }}
   

   {% for match in matches %}
  
        {% for matchStats in match%}
            {% for stat in matchStats %}
                <div class="card bg-base-100 image-full w-96 shadow-xl">
           
             
               {% for team in stat.teams %}
                     <figure>
                          
                        //trouver le logo sur le web a l'aide du nom de l'equipe
                        {% set team1 = team.team1|replace({' ': ''}) %}
                        {% set team2 = team.team2|replace({' ': ''}) %}
                

                    

                 
                 

                        
                  

                       
                      

                    </figure>
                    <div class="flex flex-row" >
                        
                       
                        <p>{{team.team1}}</p>
                        <p>{{team.team2}}</p>

                        <!-- afficher le score -->
                        {% if stat.score %}
                          {% for scores in stat.score %}
                      
                           
                           {% set part1 = scores.score|slice(0, scores.score|length // 2) %}
{% set part2 = scores.score|slice(scores.score|length // 2) %}
{% set modified_string = part1 ~ '-' ~ part2 %}
                            <p>{{modified_string}}</p>

                          {% endfor %}
                        {% endif %}

                    
                     

                      
                       
                    </div>
               {% endfor %}
               </div>
          
            {% endfor %}
        {% endfor %}
    {% endfor %}



   
   

{% endblock %}
