<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
      
        {% block stylesheets %}

            {{ encore_entry_link_tags('app') }}
        
        {% endblock %}

        {% block javascripts %}

         {{ encore_entry_script_tags('app') }}

        
        {% endblock %}
    </head>
    <body>
        <div class="bg-white h-screen">
        {% block body %}
          

            
            <div class="navbar bg-base-100 nav text-white " >
                <div class="navbar-start ">
                    <div class="dropdown">
                        <label tabindex="0" class="btn btn-ghost lg:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                        </label>
                        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">

                            <li>
                                <a>Ligues</a>
                                <ul class="p-2">
                                    <li><a>Premiere League</a></li>
                                    <li><a>Submenu 2</a></li>
                                </ul>
                            </li>
                            <li><a>Item 3</a></li>
                        </ul>
                    </div>

                </div>
                <div class="navbar-center hidden lg:flex">
                    <ul class="menu menu-horizontal px-1 text-black">
                        <li><a href="{{ path('app_main') }}" >Home</a></li>
                        <li tabindex="0">
                            <details>
                                <summary>Parent</summary>
                                <ul class="p-2">
                                    <li><a>Submenu 1</a></li>
                                    <li><a>Submenu 2</a></li>
                                </ul>
                            </details>


                        {% if app.user is null %}
                        <li><a href="{{ path("app_admin_inscription") }}">Inscription</a></li>
                            <li><a href="{{ path("app_login") }}">Connexion</a></li>
                            {% else %}
                            <li><a href="{{ path("app_admin_profil") }}">{{ app.user.email }}</a></li>
                                <li tabindex="0">
                                    <details>
                                        <summary>Communauté</summary>
                                        <ul class="p-2" style="z-index: 100">
                                            <li><a href="{{ path('article_foot') }}">AJouter un article</a></li>
                                            <li><a href="{{ path('article_foot_list') }}">Lister les articles</a></li>
                                        </ul>
                                    </details>
                                </li>
                                <li><a href="">Deconnexion</a></li>
                        {% endif %}

                    </ul>
                </div>
                <div class="navbar-end">
                    <ul>

                        <li></li>
                    </ul>

                </div>

            </div>
         
     

        {% block content %}

        {% endblock %}

        {% block listArticle %}

        {% endblock %}
      
        {% endblock %}
    </div>

    </body>
</html>
